<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>216904267864-rb2hrh6tpsgprc1gvbii9janmkmp3ien.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.216904267864-rb2hrh6tpsgprc1gvbii9janmkmp3ien</string>
	<key>API_KEY</key>
	<string>AIzaSyBH182i7vI0YDklIFaZHkXvgWc3aRNN918</string>
	<key>GCM_SENDER_ID</key>
	<string>216904267864</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.github.amazingvitor.Ulife-Reborn</string>
	<key>PROJECT_ID</key>
	<string>ulife-reborn</string>
	<key>STORAGE_BUCKET</key>
	<string>ulife-reborn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:216904267864:ios:548693dc67f36f21d1722d</string>
	<key>DATABASE_URL</key>
	<string>https://ulife-reborn.firebaseio.com</string>
</dict>
</plist>